<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="styles/event.css" />
    <title>Digital Battle - Metaverse</title>
    <meta name="description" content="Digital Battle was a workshop on Cyber Security conducted by the Metaverse - Labyrinth Club, A Computer Science Club at CHRIST (Deemed to be University). This event was conducted on 26th August, 2023 at Assembly hall, Block 2 from 2PM to 4PM.">
    <meta property="og:title" content="Digital Battle - Metaverse">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metaverse-labyrinth.vercel.app/digital-battle">
    <meta property="og:image" content="https://metaverse-labyrinth.vercel.app/images/event/digital_battle.jpeg">
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="event-container">
        <div class="event-poster-container">
          <img
            src="../images/event/digital_battle.jpeg"
            alt="Digital Battle"
            class="event-poster"
            height="650"
          />
        </div>
        <div class="event-details">
          <div class="container">
            <div class="container-title">About Event</div>
            <p>
              LABYRINTH- METAVERSE is organizing “Digital Battle”, a workshop on
              Cyber Security scheduled on 26th August 2023 ( 02:00 PM - 04:00 PM
              ). Interested students need to register on or before 24th August
              2023.
            </p>
            <p>
              We hope maximum students join from Metaverse for a great
              learning!!
            </p>
            <div class="buttons">
              <button
                onclick="location.href='https://drive.google.com/drive/folders/1h-Oei267IgnbJ_pW0HmGmVhdM4W49XhB?usp=sharing'"
              >
                Certificates
              </button>
              <button
                disabled
                class="whatsapp-button"
              >
                Whatsapp <i class="fa fa-whatsapp"></i>
              </button>
            </div>
          </div>
          <%- include("../partials/contact.ejs") %>
        </div>
      </div>
    </main>
  </body>
</html>
