<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Metaverse - Labyrinth</title>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="container">
        <div class="container-title">About</div>
        <p>
          Welcome to Metaverse a club where we explore and conquer. Conquer the
          technology that is. This is a platform for us to come up with projects
          and building a network, while also growing with the guidance of your
          peers. We are gonna have exciting events, informative talks. And if
          you have any ideas you can always pitch in. So let's make the most of
          this!
        </p>
        <button
          onclick="location.href='https://chat.whatsapp.com/FG82kWAf9PH2JWjXsxaRtc'"
          class="whatsapp-button"
        >
          Join Whatsapp Group <i class="fa fa-whatsapp"></i>
        </button>
      </div>
      <div class="container">
        <div class="container-title">Upcoming Events</div>
        <div class="card">
          <img
            src="../images/event/techbyheart.jpg"
            alt="TechByHeart"
            class="card-img"
          />
          <div class="card-body">
            <div class="card-details">
              <div class="card-date">Tentative</div>
              <div class="card-category">Workshop</div>
            </div>
            <div class="card-title">Cyber Forensic and Data Security</div>
            <div class="card-desc">
              Workshop on Cyber Forensic and Data Security by Dr. Babu Madhavan,
              Cyber Forensics Investigator, Techbyheart, Kerala.
            </div>
            <div class="register-button">
              <button
                onclick="location.href='https://forms.gle/7Lk9HR9U8QZ8fuY76'"
                disabled
              >
                Rescheduled
              </button>
            </div>
            <a href="/techbyheart" class="card-link">&rarr; View details</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="container-title">Past Events</div>
        <div class="card-container">
          <div class="card past-card" onclick="location.href='/react-bootcamp'">
            <img
              src="../images/event/react_bootcamp.png"
              alt="React Bootcamp"
              class="card-img past-card-img"
            />
            <div class="card-body past-card-body">
              <div class="card-details past-card-details">
                <div class="card-date past-card-date">27 - 28 October, 2023</div>
                <div class="card-category past-card-category">Workshop</div>
              </div>
              <div class="card-title past-card-title">React Bootcamp</div>
              <div class="card-desc past-card-desc">
                By Yashwanth Kushwaha, Infosys Certified Nodejs
                and React Professional.
              </div>
            </div>
          </div>
          <div class="card past-card" onclick="location.href='/enliven'">
            <img
              src="../images/event/enliven.png"
              alt="Enliven"
              class="card-img past-card-img"
            />
            <div class="card-body past-card-body">
              <div class="card-details past-card-details">
                <div class="card-date past-card-date">12th October, 2023</div>
                <div class="card-category past-card-category">Seminar</div>
              </div>
              <div class="card-title past-card-title">Enliven</div>
              <div class="card-desc past-card-desc">
                "Enliven", a hands-on session, teaching the fundamentals of Web
                Development.
              </div>
            </div>
          </div>
          <div class="card past-card" onclick="location.href='/digital-battle'">
            <img
              src="../images/event/digital_battle.jpeg"
              alt="Digital Battle"
              class="card-img past-card-img"
            />
            <div class="card-body past-card-body">
              <div class="card-details past-card-details">
                <div class="card-date past-card-date">26th August, 2023</div>
                <div class="card-category past-card-category">Workshop</div>
              </div>
              <div class="card-title past-card-title">Digital Battle</div>
              <div class="card-desc past-card-desc">
                "Digital Battle", a workshop on Cyber Security, taken by Mr
                Ajinkya Lohakare.
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("../partials/contact.ejs") %>
    </main>
  </body>
</html>
