<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Labyrinth - Metaverse</title>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <main>
      <div class="content">
        <div class="img-container">
          <img
            src="../images/event/enliven.png"
            alt="enliven"
            class="event-poster"
            height="650"
          />
        </div>
        <div class="details">
          <div class="about">
            <p class="about-title">About the event</p>
            <hr />
            At "Enliven," we're unveiling the future of technology and the
            endless possibilities of the metaverse. Join us for an electrifying
            experience with Interactive Sessions. Bring your laptops and immerse
            yourself in hands-on activities. Don't miss this golden opportunity
            to explore the Metaverse with us. Secure your spot today and prepare
            for an unforgettable adventure!
            <div class="buttons">
              <button
                onclick="location.href='https://forms.gle/6X4cwpd13UKkxgJR6'"
              >
                Register
              </button>
              <button
                onclick="location.href='https://chat.whatsapp.com/FG82kWAf9PH2JWjXsxaRtc'"
                class="whatsapp-button"
              >
                Join Whatsapp
              </button>
            </div>
          </div>
          <div class="contact">
            <div class="contact-title">Contact</div>
            <hr />
            <div class="club-leads">Club Leads</div>
            <div class="club-leads-container">
              <div class="club-lead">
                <img
                  src="../images/contact/zainab.jpg"
                  alt="zainab"
                  class="club-lead-img"
                  width="100"
                  height="100"
                />
                <div class="club-lead-name">Zainab Khan</div>
                <div class="club-lead-contact">
                  <div class="club-lead-tel">7619319159</div>
                </div>
              </div>
              <div class="club-lead">
                <img
                  src="../images/contact/balaji.jpg"
                  alt="balaji"
                  class="club-lead-img"
                  width="100"
                  height="100"
                />
                <div class="club-lead-name">Balaji P</div>
                <div class="club-lead-contact">
                  <div class="club-lead-tel">9141143989</div>
                </div>
              </div>
              <div class="club-lead">
                <img
                  src="../images/contact/gauri.jpg"
                  alt="gauri"
                  class="club-lead-img"
                  width="100"
                  height="100"
                />
                <div class="club-lead-name">Gauri Dawar</div>
                <div class="club-lead-contact">
                  <div class="club-lead-tel">7828928885</div>
                </div>
              </div>
              <div class="club-lead">
                <img
                  src="../images/contact/arpit.jpg"
                  alt="arpit"
                  class="club-lead-img"
                  width="100"
                  height="100"
                />
                <div class="club-lead-name">Arpit Tiwari</div>
                <div class="club-lead-contact">
                  <div class="club-lead-tel">9755798139</div>
                </div>
              </div>
            </div>
            <hr />
            <div class="faculty">Faculty</div>
            <div class="faculty-container">
              <div class="arokia-paul">
                <img
                  src="../images/contact/arokia-paul.jpg"
                  alt="arokia-paul"
                  class="faculty-img"
                  width="100"
                  height="100"
                />
                <div class="faculty-name">Arokia Paul Rajan</div>
                <div class="faculty-contact">Labyrinth Faculty Incharge</div>
              </div>
              <div class="kirubanand">
                <img
                  src="../images/contact/kirubanand.jpg"
                  alt="kirubanand"
                  class="faculty-img"
                  width="100"
                  height="100"
                />
                <div class="faculty-name">Kirubanand V.B</div>
                <div class="faculty-contact">Metaverse Coordinator</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
