<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="styles/event.css" />
    <title>React Bootcamp - Metaverse</title>
    <meta name="description" content="React Bootcamp was a two day workshop on ReactJS conducted by the Metaverse - Labyrinth Club, A Computer Science Club at CHRIST (Deemed to be University). This event was conducted on 27 - 28th October, 2023 through Google Meet from 6PM to 7:30PM on the first day and from 9AM to 10:30AM on the second day.">
    <meta property="og:title" content="React Bootcamp - Metaverse">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metaverse-labyrinth.vercel.app/react-bootcamp">
    <meta property="og:image" content="https://metaverse-labyrinth.vercel.app/images/event/react_bootcamp.png">
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="event-container">
        <div class="event-poster-container">
          <img
            src="../images/event/react_bootcamp.png"
            alt="React Bootcamp"
            class="event-poster"
            height="650"
          />
        </div>
        <div class="event-details">
          <div class="container">
            <div class="container-title">About Event</div>
            <p>
              Yashwanth Kushwaha, Infosys
              Certified Nodejs and React Professional is here to take the 2-day
              online workshop on ReactJS. Register ASAP as we only have 25 seats
              for this workshop.
            </p>
            <p>Note: E-Certificates will be provided to only those students who complete the final test</p>
            <p>
              Dates and Timings:<br />
              27th October (6:00PM - 7:30PM) <span style="color: dodgerblue; text-decoration: underline;">Link expired</span><br />
              28th October (9:00AM - 10:30AM) <span style="color: dodgerblue; text-decoration: underline;">Link expired</span>
            </p>
            <p>Mode: Online</p>
            <div class="buttons">
              <button 
                onclick="location.href='https://drive.google.com/drive/folders/1zkxzZ1e7ooicatNx4Yh1bOASDnP3cR5b?usp=sharing'"
              >
                Certificates
              </button>
              <button
                disabled
                class="whatsapp-button"
              >
                Whatsapp <i class="fa fa-whatsapp"></i>
              </button>
            </div>
          </div>
          <%- include("../partials/contact.ejs") %>
        </div>
      </div>
    </main>
  </body>
</html>
