<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="styles/event.css" />
    <title>React Bootcamp - Metaverse</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="event-container">
        <div class="event-poster-container">
          <img
            src="../images/event/react_bootcamp.png"
            alt="React Bootcamp"
            class="event-poster"
            height="650"
          />
        </div>
        <div class="event-details">
          <div class="container">
            <div class="container-title">About Event</div>
            <p>
              Yashwanth Kushwaha, Infosys
              Certified Nodejs and React Professional is here to take the 2-day
              online workshop on ReactJS. Register ASAP as we only have 25 seats
              for this workshop.
            </p>
            <p>Note: E-Certificates will be provided to only those students who complete the final test</p>
            <p>
              Dates and Timings:<br />
              27th October (6:00PM - 7:30PM) <a href="https://meet.google.com/euj-omsz-gbo" style="color: dodgerblue;">https://meet.google.com/euj-omsz-gbo</a><br />
              28th October (9:00AM - 10:30AM)
            </p>
            <p>Mode: Online</p>
            <div class="buttons">
              <button
                onclick="location.href='https://forms.gle/8edXBciZpM55EfP78'"
              >
                Register
              </button>
              <button
                onclick="location.href='https://chat.whatsapp.com/FG82kWAf9PH2JWjXsxaRtc'"
                class="whatsapp-button"
              >
                Whatsapp <i class="fa fa-whatsapp"></i>
              </button>
            </div>
          </div>
          <%- include("../partials/contact.ejs") %>
        </div>
      </div>
    </main>
  </body>
</html>
