<div class="container">
  <div class="container-title">Contact</div>
  <div class="card-container contact-card-container">
    <div class="club-leads">
      <div class="container-title club-leads-title">Club Leads</div>
      <div class="club-leads-container">
        <div class="contact">
          <img
            src="../images/contact/zainab.jpg"
            alt="Zainab Khan"
            class="contact-img"
          />
          <div class="contact-details">
            <div class="contact-name">Zainab Khan</div>
            <div class="contact-info">7619319159</div>
          </div>
        </div>
        <div class="contact">
          <img
            src="../images/contact/gauri.jpg"
            alt="Gauri Dawar"
            class="contact-img"
          />
          <div class="contact-details">
            <div class="contact-name">Gauri Dawar</div>
            <div class="contact-info">7828928885</div>
          </div>
        </div>
        <div class="contact">
          <img
            src="../images/contact/balaji.jpg"
            alt="Balaji P"
            class="contact-img"
          />
          <div class="contact-details">
            <div class="contact-name">Balaji P</div>
            <div class="contact-info">9141143989</div>
          </div>
        </div>
        <div class="contact">
          <img
            src="../images/contact/arpit.jpg"
            alt="Arpit Tiwari"
            class="contact-img"
          />
          <div class="contact-details">
            <div class="contact-name">Arpit Tiwari</div>
            <div class="contact-info">9755798139</div>
          </div>
        </div>
      </div>
    </div>
    <div class="faculty">
      <div class="container-title faculty-title">Faculty</div>
      <div class="faculty-container">
        <div class="contact">
          <img
            src="../images/contact/arokia-paul.jpg"
            alt="Arokia Paul Rajan"
            class="contact-img"
          />
          <div class="contact-details">
            <div class="contact-name">Arokia Paul Rajan</div>
            <div class="contact-info">Labyrinth Faculty Incharge</div>
          </div>
        </div>
        <div class="contact">
          <img
            src="../images/contact/kirubanand.jpg"
            alt="Kirubanand V.B"
            class="contact-img"
          />
          <div class="contact-details">
            <div class="contact-name">Kirubanand V.B</div>
            <div class="contact-info">Metaverse Coordinator</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
